* {
	box-sizing: border-box;
	/* border: 0.1px dashed black; */
}

:root {
	--green: rgb(0, 75, 6);
	--grey: rgb(85, 85, 85);
	--red: rgb(221, 0, 0);
	--blue: rgb(0, 0, 214);
	--textColor: rgb(36, 36, 36);
	--backgroundColor: #fff;
	--shadowBlur: 6px;
}

#loading-icon {
	position: fixed;
	top: 50%;
	left: 50%;
	background: var(--backgroundColor);
	z-index: 99;
}

body {
	color: var(--textColor);
}

.header-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6rem;
	padding: 1rem 3rem;
}

.brand {
	height: 100%;
	width: 3.9rem;
	cursor: pointer;
	background: url(../logo.png) center/cover no-repeat;
}

.search-btn {
	user-select: none;
	cursor: pointer;
}

.search-btn i {
	font-size: 1.2rem;
	color: var(--green);
}

.search-btn input {
	position: relative;
	height: 2rem;
	width: 12rem;
	border-radius: 3rem;
	background: var(--backgroundColor);
	border: 0.6px solid var(--green);
	color: var(--grey);
}

.search-btn:hover i {
	text-shadow: 0 0 var(--shadowBlur) var(--grey);
}

.search-btn:hover input {
	box-shadow: 0 0 var(--shadowBlur) var(--grey);
}

.search-btn:active {
	transform: scale(0.96);
}

.line-grey {
	width: 100%;
	height: 2rem;
	cursor: pointer;
	background: var(--grey);
}

.line-grey p,
.line-red p {
	height: 100%;
	margin: 0;
	padding: 0.18rem 0 0 0.9rem;
	color: var(--backgroundColor);
	text-align: center;
	text-transform: uppercase;
	user-select: none;
}

.card-title a {
	text-decoration: none;
	color: var(--textColor);
}

.card-title a:hover {
	color: var(--blue);
}

hr {
	display: none;
}

.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: #000;
	opacity: 0;
	filter: alpha(opacity=0);
	display: none;
}

.box {
	position: absolute;
	top: 10%;
	left: 3.9vw;
	width: 90vw;
	height: 450px;
	z-index: 101;
	background: #fff;
	padding: 10px;
	border-radius: 1rem;
	box-shadow: 0 0 6px #444;
	display: none;
}

.close-btn {
	float: right;
	margin-right: 6px;
	cursor: pointer;
}

.close-btn:after {
	content: "";
	clear: both;
	display: table;
}

#search-form {
	padding: 3rem;
}

#search-form p {
	font-weight: bold;
}

.search-input {
	border-radius: 3rem;
}

#search-query {
	border-radius: 3rem 0 0 3rem;
}

@media only screen and (min-width: 768px) {
	.header-main {
		padding: 1rem 6rem;
	}

	.header-underline {
		position: relative;
		width: 100%;
		height: 3rem;
		margin: 0.6rem 0 0 0;
		background: linear-gradient(45deg, var(--blue), var(--red), var(--blue));
		z-index: 1;
	}

	.line-grey {
		position: absolute;
		top: -0.6rem;
		left: -2rem;
		width: 300px;
		transform: skewX(-45deg);
		box-shadow: 0.9rem 0.5rem var(--backgroundColor);
		z-index: 3;
	}

	.line-grey p {
		transform: skewX(45deg);
	}

	.line-red {
		padding: 0 0 0 270px;
		height: 100%;
	}

	.line-red p {
		padding: 0.6rem 0 0 0;
		cursor: default;
	}

	.box {
		width: 60vw;
		top: 20%;
		left: 20vw;
		height: 300px;
	}
}

@media only screen and (min-width: 992px) {
	hr {
		display: block;
	}
}
